# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Google developer API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [53]:
# File to Load (Remember to Change These)
citydat_csv = "city_data.csv"

# Read load_file and store into Pandas data frame
citydat_df = pd.read_csv(citydat_csv)
citydat_df = citydat_df.drop(citydat_df.columns[0], axis = 1)

#Drop missing data
citydat_df.dropna(inplace = True) 

citydat_df

           City   Temp  Humidity  Cloudiness  Wind Speed  Latitude  Longitude
0         Khovd  64.04        50           0        2.06     48.01      91.64
1        Moscow  64.99        82         100        4.47     55.75      37.62
2        Albany  67.48        61          24        3.89     42.60     -73.97
3       Mataura  50.95        65         100        5.82    -46.19     168.86
4     Mahébourg  68.00        88          20        6.93    -20.41      57.70
..          ...    ...       ...         ...         ...       ...        ...
549    Kargasok  61.41        55          30        3.04     59.06      80.86
550        Mayo  79.30        74          40        5.82     38.89     -76.51
551    Pyshchug  60.51        92          12        2.35     58.89      45.71
552    Plymouth  77.85        94           1        4.70     41.83     -70.83
553  Shellbrook  75.20        69          20        5.82     53.22    -106.40

[554 rows x 7 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [55]:
%matplotlib inline
#Configure gmaps
gmaps.configure(api_key=g_key) 

#Humidity as the weight
humidity = citydat_df["Humidity"].astype(float)

#Store Lat and Lng as locations
locations = citydat_df[["Latitude", "Longitude"]].astype(float)

#Plot Heatmap
fig = gmaps.figure()

#Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(citydat_df["Humidity"]),
                                 point_radius=1)

#Add layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure